.container{
    height: 85vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    align-items: center;
   
}

.box-h1{
    height: 30%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.box-h1 .h11{
    font-size:  4rem;
    font-weight: bold;
    margin-top: 0%;
   
    

}

.box-h1 .h22{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: -4%;
}

.box-p1{
    color: white;
    display: flex;
    font-weight: bold;
    width: 40%;
    text-align: center;
    

}

.box-p1 span{
    color: #3cff00;

}

.boxButton{
    width: 30%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ;
}

.boxButton .button1{
    height:50% ;
    width: 40%;
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.button1 p{
    font-weight: bold;
    font-size: 1rem;
}

.boxButton .button2{
    height:50% ;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.543);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.footerBox11{
    width: 100%;
    height: 30%;
    position: relative;
    top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.box-comment{
    position: relative;
    left: 2%;
    top: 13%;
    height: 70%;
    width: 30%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.543);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 8px;
    cursor: pointer;
}

.box-comment .box111{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
   

}

.box111 .person{
    height: 60%;
    width: 20%;
    color: white;
    
}

.box111 .comment{
    color: white;
    height: 100%;
    width: 70%;
    text-align: center;
}

.comment p{
   
    margin-top: -8%;
}

.comment span{
    color: #3cff00;
}

.arrowRight{
    color: white;
    height: 40%;
    width: 20%;
   
}

.box-comment .box222{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
   

}

.box222 .btc{
    color: white;
    
}

.btc p{
    margin: 0%;
}

.box222 .verticalLine{
    height: 70%;
    border-left: 2px solid greenyellow;
   
}
.box222 .bitcoin{
    height: 60%;
    width: 20%;
    color: orange;
    
}

.box222 .change{
    color: #3cff00;
    display: flex;
    flex-direction: column;
}

.change .change11{
    display: flex;
    align-items: center;
}

.change span{
    margin: 0%;
}






