.App {
  background-color: rgba(0, 0, 0, 0.352);
  height: 100vh;
  width: 100%;
  background-image: url("./Assets/backGround.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-blend-mode:overlay;
  

}




.App-header {
  display: flex;
  justify-content: center;

}


